<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Meet Eloy Milan</h2>
                <hr class="light">
                <p class="text-faded">I was born on November 23, 1981 in Havana, Cuba, in the Cerro neighborhood, where I have lived most of my life. I had a normal childhood. I studied at the elementary school in the School Miguel Figueroa and in the secondary Álvaro Barba. From childhood, I had inclinations towards the plastic arts although I did not receive any education.</p>

                <p class="text-faded">At the end of high school, I obtained a career as a workshop mechanic at the Cuban-Soviet Friendship School, which I finished and did not practice. Time later I went to work in a canning factory for 10 years, feeling the need to express myself in the plastic arts. With this impulse I concluded my work time for a state company and started on my own the path of artistic experimentation through self-taught methods.</p>

                    <p class="text-faded">Immersed in this medium, I connected with friends and I begin to show in some places of Havana that understand my work. The galleries include the Provincial Center of Plastic Arts and Design, the Gallery of Art of Boyeros, as well as in alternative spaces of the city. Also by means of a friend artist Norbert Feger, I exhibited at a collective exhibition in Offenburg, Germany.  At the present time I work in Open Art Studio which is a space that I have in Malecón next to other artists where we work and we commercialize our works.</p>

                        <p class="text-faded">I was born on 11/23/81 in Havana, Cuba, a plastic artist. I work at Open Art Studio, on the Havana boardwalk. My works are in private collections abroad.</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Contact Eloy</a>
            </div>
        </div>
    </div>
</section>
