<section id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact Eloy</h2>
                <hr class="dark">
                <p><b>Address: </b>Chaussée D’Alsemberg 284, 1190 Forest, Belgium<br />
                    <b>Email: </b>eloymilan81@gmail.com<br/>
                    <b>Phone: </b>+32-470 795 064</p>
            </div>
        <div class="col-lg-2 col-lg-offset-3 text-center">
            <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank">
                <i class="fa fa-facebook fa-2x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 text-center">
            <a href="mailto:{{ site.email }}">
                <i class="fa fa-envelope-o fa-2x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 text-center">
            <a href="https://www.instagram.com/{{ site.instagram_handle }}" target="_blank">
                <i class="fa fa-instagram fa-2x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>

    </div>
</section>
